@font-face {
  font-family: kakao;
  src: url(./fonts/KakaoRegular.ttf);
}
body{
  font-family: kakao,sans-serif;
  margin: 0px;
}

#wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#header{
  width: 1712px;
  height: 85px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo{
  font-size: 2rem;;
}
.header-nav{
  display: flex;
  color: rgba(0, 0, 0, 0.7);
  size: 21px;
  font-weight: 700;
  gap: 80px;
  
}
.header-nav-item:hover{
  color: rgba(20, 20, 20, 1.0);
  cursor: pointer;
  font-weight: 700;
}
.header-buttons{
  display: flex;
  gap: 10px;
}
.icon-buttons{
  width: 36px;
  height: 36px;
  border-radius: 50% ;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: 50% 50%;
}
.icon-buttons:hover{
  background-color: rgba(0, 0, 0, 0.1);
}
.icon-buttons.search{

  background-image: url(./images/search.png);
}
.icon-buttons.moon {
  background-image: url(./images/moon.png);
}
.icon-buttons.earth {
  background-image: url(./images/earth.png);
}
#main{
  margin-top: 85px;
  width: 1712px;
  display: grid;
  grid-template: 
    "video impact" 272px
    "video report" 1fr
    "video group" 164px
    / 1fr 272px;
    gap: 16px;
}
.video{
  grid-area: video;
  position: relative;

}
.video-content{
  width: 100%;
  height: 808px;
  
}