@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nanum+Gothic&display=swap');

@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
:root {
  --primary-color: rgba(0, 191, 122, 1);
  --error-color: rgba(255, 84, 64, 1);
  --gray-color: rgba(138, 146, 166, 1);
  --drak-gray-color: rgba(64, 64, 64, 1);
  --default-color: rgba(35, 45, 66, 1);
}
.body {
  margin: 0px;
  font-family: 'Pretendard', sans-serif;
}

.title-box {
  display: flex;
  align-items: center;

  gap: 2px;
}

.title-box .title {
  font-size: 30px;
  font-weight: 700;
  line-height: 173%;

  color: var(--drak-gray-color);
}

.title-box .logo {
  width: 30px;
  height: 30px;
  background-image: url(./images/logo.png);
  background-size: 100% 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
  align-self: stretch;
}

.input-box {
  display: flex;
  flex-direction: column;
  gap: 8px;

}

.input-box .label {
  color: var(--gray-color);
  font-size: 16px;
  font-weight: 400;
}

.input-box input {
  background: none;
  outline: none;
  border: none;
  border: 1px solid rgba(238, 238, 238, 1);
  background-color: white;

  border-radius: 6px;
  padding: 8px 16px;

  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  color: var(--default-color);
}

input::placeholder {
  color: var(--gray-color);

}

.input-box .message {
  margin-top: -4px;
  height: 16px;

  font-size: 13px;
  font-weight: 400;
}

.message.error {
  color: var(--error-color);
}

.message.primary {
  color: var(--primary-color);
}

.primary-button {
  border-radius: 6px;
  padding: 8px 24px;

  background-color: var(--primary-color);

  font-size: 16px;
  font-weight: 400;
  line-height: 175%;
  text-align: center;

  color: white;
}

.primary-button:hover {
  opacity: 0.9;
  cursor: pointer;
}

.full-width {
  width: 100%;
  box-sizing: border-box;
}

.link {
  align-self: center;

  font-size: 16px;
  font-weight: 400;
  line-height: 175%;

  color: rgba(113, 113, 113, 1);
}

.link:hover {
  cursor: pointer;
  font-weight: bolder;
}

.divider {
  width: 100%;
  border-bottom: 1px solid rgba(238, 238, 238, 1);
}

.sns-button {
  border-radius: 50%;

  width: 56px;
  height: 56px;

  background-size: 100% 100%;
}

.sns-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

.sns-button.kakao {
  background-image: url(./images/kakao-button.png);
}

.sns-button.naver {
  background-image: url(./images/naver-button.png);
}